{
    "presets": [
        "@nuxt/babel-preset-app"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        [
            "import",
            {
                "libraryName": "ant-design-vue"
            }
        ]
    ]
}